$white: #fff;
$black: #000;
$faint-gray: #dddddd;
$near-white: #eee;
$support-gray: #aab1b5;
$lighter-gray: #f9f9f9;
$light-gray: #f3f6f6;
$medium-gray: #e2e8e9;
$dark-gray: #748595;
$darker-gray: #34495e;

$success-color: #4cae4c;
$green: #a9cf54;
$dark-green: #588f27;
$darker-green: #2c5109;
$green-shadow: #8aa857;
$red-background: #ffecec;
$darker-red-background: #f6e2e2;
$warning-red: #CC0000;

$blue: #5694F0;

$support-yellow: #ccbd00;
$pending-publish: rgba(168, 230, 66, 0.5);
$pending-save: #FBEA74;
