// 16 is eminently divisible
$base-unit: 16px;
$base-unit-half: 8px;
$base-unit-quarter: 4px;
$base-unit-three-quarters: 12px;

$definition-label-width: 200px;

$font-weight-semibold: 600;
$font-weight-bold: 700;

$default-line-height: 1.428; // what bootstrap uses

$toolbar-width: 100px; // width of the buttons on the left
$table-border: 1px solid $black;
