html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  color: #000;

  @media screen and (max-width: 768px) {
    padding-top: 0px;
  }
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
